body {
    background-color: #FFFFFF;
    background-image: url("http://getwallpapers.com/wallpaper/full/8/6/b/746061-gorgerous-music-desktop-wallpapers-2880x1800-ios.jpg");
    background-position: right top;
    background-attachment: fixed;
    background-position: center;
}

div {
   
}
