<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EDM Death Playlist Machine</title>
        <!--<link rel="stylesheet" type="text/css" href="{{ asset("css/base.css") }}">-->
    </head>
    <body>
        <div>
            <h1>EDM Death Playlist Machine</h1>
        </div>
        {% block menu %}{% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>
