<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successo!</title>
</head>
<body>
    <h2>Operazione completata con successo</h2>
    <h1>La tua operazione di {{operation}} è stata completata!</h1>
    <a href="{{ link }}"><h3>Clicca qui per procedere</h3></a>
</body>
</html>